<div id="main"> 
    
    <!--Contact Page Page Start-->
    <div class="inner-page">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <h1>Contact Us</h1>
                    <strong class="title">Contact us for any details</strong> 
                </div>
            </div>
        </div>

        <section class="out-let-page">
            <div class="outlet-form flip cp_load">
                <div id="map_canvas" style="width: 100%; height: 338px; text-align:center; margin-top:7px;"></div>
            </div>
        </section>

        <section class="form-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <form action="contact.php" method="post" class="contact-form fadeInLeft cp_load">
                            <ul class="form-list">
                                <li>
                                    <input type="text" required pattern="[a-zA-Z ]+" name="name" value="Name" class="contact-input">
                                </li>
                                <li>
                                    <input type="text" required pattern="^[a-zA-Z0-9-\_.]+@[a-zA-Z0-9-\_.]+\.[a-zA-Z0-9.]{2,5}$" name="email" value="Email" class="contact-input">
                                </li>
                                <li>
                                    <input type="text" name="website" value="Subject" class="contact-input">
                                </li>
                                <li>
                                    <textarea rows="10" cols="10" name="comments" class="textarea">Comment</textarea>
                                </li>
                                <li>
                                    <input type="submit" name="submit" value="Send" class="btns btn-continue">
                                </li>
                            </ul>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-info fadeInRight cp_load">
                            <address>
                                <h2>Address</h2>
                                <p>No.1 Abbey Road, London, W1 ECH</p>
                            </address>

                            <div class="contact-detail">
                                <h2>Contact <span class="pink">Details</span></h2>
                                <strong class="email">Email: <a href="#" class="mail">childrenstore@childrenstore.com</a></strong> <strong class="email">Phone: 001 234 567 89</strong> <strong class="email">Fax: 001 234 567 89</strong> 
                            </div>

                            <div class="contact-social">
                                <h2>Connect us</h2>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-tumblr-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--Contact Page End--> 
    
    <!--Latest Tweets Start-->
    <section class="latest-tweet">
        <div class="container">
            <div class="row">
                <div class="tweets-box fadeIn cp_load">
                    <div class="holder">
                        <ul class="bxslider tweet-bxslider">
                            <li>
                                <div class="pic">tweets</div>
                                <div class="text">
                                    <h3>Latest Tweets</h3>
                                    <a href="#" class="tweet">@ Abd-Alrahaman Elgazzar <span class="sky">Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here</span> http://t.co/zfdgfdg </a> 
                                </div>
                            </li>
                            <li>
                                <div class="pic">tweets</div>
                                <div class="text">
                                    <h3>Latest Tweets</h3>
                                    <a href="#" class="tweet">@ Abd-Alrahaman Elgazzar <span class="sky">Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here</span> http://t.co/zfdgfdg </a> 
                                </div>
                            </li>
                            <li>
                                <div class="pic">tweets</div>
                                <div class="text">
                                    <h3>Latest Tweets</h3>
                                    <a href="#" class="tweet">@ Abd-Alrahaman Elgazzar <span class="sky">Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here</span> http://t.co/zfdgfdg </a> 
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Latest Tweets End--> 
    
</div>