<div id="main"> 
    
    <!--Gallery Two Column Start-->
    <div class="inner-page">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <h1>Books</h1>
                    <strong class="title">Veja nossos diversos tipos de Books</strong> 
                </div>
            </div>
        </div>

        <section class="two-column">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="gallery-tow-col">
                            <ul class="gallery_fun">
                                <li class="col-md-4">
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-1.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-1.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-2.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-2.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-3.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-3.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-4.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-4.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-5.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-5.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-6.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-6.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame fadeInLeft cp_load"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-7.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-7.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame fadeInRight cp_load"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-8.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-8.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame fadeInLeft cp_load"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-9.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-9.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <!--
                                <li class="col-md-4">
                                    <div class="frame fadeInRight cp_load"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-10.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-10.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame fadeInLeft cp_load"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-3.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-3.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame fadeInRight cp_load"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-4.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-4.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame fadeInLeft cp_load"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-4.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-4.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame fadeInrIGHT cp_load"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-5.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-5.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="frame fadeInLeft cp_load"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span> <a href="images/two-col-img-8.jpg" rel="prettyPhoto[gallery1]"><img src="images/two-col-img-8.jpg" alt="img"></a>
                                        <div class="caption">
                                            <h2>Long towel for baby girls</h2>
                                        </div>
                                    </div>
                                </li>
                                -->
                            </ul>

                            <ul class="pagination">
                                <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3"> 
                        <!--Aside Start-->
                        <aside id="aside">
                            <!--
                            <div class="aside-search-box">
                                <input name="" type="text" class="aside-input" placeholder="What are you looking for?" />
                                <input name="" type="submit" value="" class="btn-search" />
                                <i class="fa fa-search"></i> 
                            </div>
                            
                            <div class="list-of-services">
                                <h2>List of <span class="pink">Services</span></h2>
                                <ul>
                                    <li>
                                        <div class="round-box"> <span class="round"><i class="fa fa-file-text-o"></i></span> </div>
                                        <div class="text"> <strong class="title">Lorem ipsum dolor sit amet</strong>
                                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="round-box"> <span class="round"><i class="fa fa-star-o"></i></span> </div>
                                        <div class="text"> <strong class="title">Lorem ipsum dolor sit amet</strong>
                                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="round-box"> <span class="round"><i class="fa fa-heart-o"></i></span> </div>
                                        <div class="text"> <strong class="title">Lorem ipsum dolor sit amet</strong>
                                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="round-box"> <span class="round"><i class="fa fa-camera"></i></span> </div>
                                        <div class="text"> <strong class="title">Lorem ipsum dolor sit amet</strong>
                                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="round-box"> <span class="round"><i class="fa fa-tags"></i></span> </div>
                                        <div class="text"> <strong class="title">Lorem ipsum dolor sit amet</strong>
                                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            -->
                            <div class="blog-archives">
                                <h2>Mais <span class="pink">Books</span></h2>
                                <ul>
                                    <li> 
                                        <a href="#">
                                            <div class="archives-box">
                                                <div class="archives-frame"> 
                                                    <img src="images/blog-archives-img1.jpg" alt="img">
                                                    <div class="caption"><strong class="title">Bebê</strong></div>
                                                </div>
                                            </div>
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="#">
                                            <div class="archives-box">
                                                <div class="archives-frame"> 
                                                    <img src="images/blog-archives-img2.jpg" alt="img">
                                                    <div class="caption"><strong class="title">Acompanhamento do Bebê</strong></div>
                                                </div>
                                            </div>
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="#">
                                            <div class="archives-box">
                                                <div class="archives-frame"> 
                                                    <img src="images/blog-archives-img3.jpg" alt="img">
                                                    <div class="caption"><strong class="title">Gestante</strong></div>
                                                </div>
                                            </div>
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="#">
                                            <div class="archives-box">
                                                <div class="archives-frame"> 
                                                    <img src="images/blog-archives-img4.jpg" alt="img">
                                                    <div class="caption"><strong class="title">Infantil</strong></div>
                                                </div>
                                            </div>
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="#">
                                            <div class="archives-box">
                                                <div class="archives-frame"> 
                                                    <img src="images/blog-archives-img5.jpg" alt="img">
                                                    <div class="caption"><strong class="title">Família</strong></div>
                                                </div>
                                            </div>
                                        </a> 
                                    </li>
                                </ul>
                            </div>
                            <!--
                            <div class="blog-archives">
                                <h2>Mais <span class="pink">Books</span></h2>
                                <ul>
                                    <li> 
                                        <a href="#">
                                            <div class="archives-box">
                                                <div class="archives-date"> <strong class="date">15</strong> <strong class="mnt">sep</strong> </div>
                                                <div class="archives-frame"> 
                                                    <img src="images/blog-archives-img1.jpg" alt="img">
                                                    <div class="caption"><strong class="title">Bebê</strong></div>
                                                </div>
                                            </div>
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="#">
                                            <div class="archives-box">
                                                <div class="archives-date"> <strong class="date">15</strong> <strong class="mnt">sep</strong> </div>
                                                <div class="archives-frame"> 
                                                    <img src="images/blog-archives-img2.jpg" alt="img">
                                                    <div class="caption"><strong class="title">Acompanhamento do Bebê</strong></div>
                                                </div>
                                            </div>
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="#">
                                            <div class="archives-box">
                                                <div class="archives-date"> <strong class="date">15</strong> <strong class="mnt">sep</strong> </div>
                                                <div class="archives-frame"> 
                                                    <img src="images/blog-archives-img3.jpg" alt="img">
                                                    <div class="caption"><strong class="title">Gestante</strong></div>
                                                </div>
                                            </div>
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="#">
                                            <div class="archives-box">
                                                <div class="archives-date"> <strong class="date">15</strong> <strong class="mnt">sep</strong> </div>
                                                <div class="archives-frame"> 
                                                    <img src="images/blog-archives-img4.jpg" alt="img">
                                                    <div class="caption"><strong class="title">Infantil</strong></div>
                                                </div>
                                            </div>
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="#">
                                            <div class="archives-box">
                                                <div class="archives-date"> <strong class="date">15</strong> <strong class="mnt">sep</strong> </div>
                                                <div class="archives-frame"> 
                                                    <img src="images/blog-archives-img5.jpg" alt="img">
                                                    <div class="caption"><strong class="title">Book Família</strong></div>
                                                </div>
                                            </div>
                                        </a> 
                                    </li>
                                </ul>
                            </div>
                            -->
                            <!--
                            <div class="tag-box">
                                <h2>Tags</h2>
                                <ul>
                                    <li><a href="#">Children</a></li>
                                    <li><a href="#">Prams</a></li>
                                    <li><a href="#">Baby Girls</a></li>
                                    <li><a href="#">Baby Toys</a></li>
                                    <li><a href="#">Shoes for boys</a></li>
                                    <li><a href="#">Sitter for Babies</a></li>
                                    <li><a href="#">Born Collection</a></li>
                                </ul>
                            </div>

                            <div class="flicker-photo">
                                <h2>Flicker <span class="pink">Photos</span></h2>
                                <ul class="gallery_fun">
                                    <li>
                                        <div class="frame"><a href="images/flicker-img-1.jpg" rel="prettyPhoto[gallery1]"><img src="images/flicker-img-1.jpg" alt="img"></a></div>
                                    </li>
                                    <li>
                                        <div class="frame"><a href="images/flicker-img-2.jpg" rel="prettyPhoto[gallery1]"><img src="images/flicker-img-2.jpg" alt="img"></a></div>
                                    </li>
                                    <li>
                                        <div class="frame"><a href="images/flicker-img-3.jpg" rel="prettyPhoto[gallery1]"><img src="images/flicker-img-3.jpg" alt="img"></a></div>
                                    </li>
                                    <li>
                                        <div class="frame"><a href="images/flicker-img-4.jpg" rel="prettyPhoto[gallery1]"><img src="images/flicker-img-4.jpg" alt="img"></a></div>
                                    </li>
                                    <li>
                                        <div class="frame"><a href="images/flicker-img-5.jpg" rel="prettyPhoto[gallery1]"><img src="images/flicker-img-5.jpg" alt="img"></a></div>
                                    </li>
                                    <li>
                                        <div class="frame"><a href="images/flicker-img-6.jpg" rel="prettyPhoto[gallery1]"><img src="images/flicker-img-6.jpg" alt="img"></a></div>
                                    </li>
                                    <li>
                                        <div class="frame"><a href="images/flicker-img-7.jpg" rel="prettyPhoto[gallery1]"><img src="images/flicker-img-7.jpg" alt="img"></a></div>
                                    </li>
                                    <li>
                                        <div class="frame"><a href="images/flicker-img-8.jpg" rel="prettyPhoto[gallery1]"><img src="images/flicker-img-8.jpg" alt="img"></a></div>
                                    </li>
                                    <li>
                                        <div class="frame"><a href="images/flicker-img-9.jpg" rel="prettyPhoto[gallery1]"><img src="images/flicker-img-9.jpg" alt="img"></a></div>
                                    </li>
                                </ul>
                            </div>
                            -->
                        </aside>
                        <!--Aside End--> 
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--Gallery Two Column End--> 
    
    <!--Latest Tweets Start->
    <section class="latest-tweet">
      <div class="container">
        <div class="row">
          <div class="tweets-box fadeIn cp_load">
            <div class="holder">
              <ul class="bxslider tweet-bxslider">
                <li>
                  <div class="pic">tweets</div>
                  <div class="text">
                    <h3>Latest Tweets</h3>
                    <a href="#" class="tweet">@ Abd-Alrahaman Elgazzar <span class="sky">Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here</span> http://t.co/zfdgfdg </a> </div>
                </li>
                <li>
                  <div class="pic">tweets</div>
                  <div class="text">
                    <h3>Latest Tweets</h3>
                    <a href="#" class="tweet">@ Abd-Alrahaman Elgazzar <span class="sky">Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here</span> http://t.co/zfdgfdg </a> </div>
                </li>
                <li>
                  <div class="pic">tweets</div>
                  <div class="text">
                    <h3>Latest Tweets</h3>
                    <a href="#" class="tweet">@ Abd-Alrahaman Elgazzar <span class="sky">Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here</span> http://t.co/zfdgfdg </a> </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Latest Tweets End--> 
    
</div>

<% stylesheet('/css/prettyPhoto.css') %>

<% script('/js/prettyph.js') %>