<!--Banner Start-->
<div class="" id="banner">
    <div class="holder">
        <div class="caption">
            <div class="text">
                <h1>Winter <span class="pink">Collection</span></h1>
                <p>Nullam ut lorem in arcu ornare available, but the<br/>majority have suffered alteration.</p>
                <strong class="price">$549.oo</strong> <a href="#" class="btn-now">Shop Now!</a> 
            </div>
        </div>
        <div class="banner-areo">
            <strong class="title">Faça fotos do seu bebê, gravidez &amp; aniversário</strong>
        </div>
    </div>
    <div id="featured" class="flexslider et_slider_auto et_slider_speed_4200">
        <ul class="slides">
            <li class="slide">
                <div class="slider_image"> <a href="#"><img src="images/banner-img-1.jpg" alt='img' /></a></div>
            </li>
            <li class="slide">
                <div class="slider_image"> <a href="#"><img src="images/banner-img-3.jpg" alt='img' /></a></div>
            </li>
            <li class="slide">
                <div class="slider_image"> <a href="#"><img src="images/banner-img-2.jpg" alt='img' /></a></div>
            </li>
        </ul>
        <div id="switcher">
            <div class="item">
                <div class="wrap active"> <span class="image"> <img src="images/banner-img-1-thumb.jpg" alt='img' /> </span> </div>
            </div>
            <div class="item">
                <div class="wrap "> <span class="image"> <img src="images/banner-img-1-thumb-2.jpg" alt='img' /></span> </div>
            </div>
            <div class="item">
                <div class="wrap "> <span class="image"> <img src="images/banner-img-1-thumb-3.jpg" alt='img' /></span> </div>
            </div>
        </div>
        <!-- #switcher --> 
    </div>
</div>
<!--Banner End-->

<div id="main"> 
    <!--Featured Product Start->
    <section class="featured-product fadeInLeft cp_load">
        <div class="hold">
            <div id="clouds">
                <div class="x1"> <strong class="title">Check out our <span class="pink">latest</span> range of <span class="pink">winter</span> clothes</strong> <img src="images/aeroplane-img-1.png" alt="img"></div>
            </div>
            <div class="holder">
                <div class="cloud">
                    <h2>Featured <span class="breck">Products</span></h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                        <div class="featured-tab">
                            <h3><span class="sky">Product</span> categories</h3>
                            <ul class="nav nav-tabs featured-tab-nav" id="myTab1">
                            <li class="active"><a href="#home" data-toggle="tab"><i class="fa fa-star"></i>Baby girl</a></li>
                            <li><a href="#boy" data-toggle="tab"><i class="fa fa-star"></i>Baby boy</a></li>
                            <li><a href="#Newborn" data-toggle="tab"><i class="fa fa-star"></i>Newborn</a></li>
                            <li><a href="#Shoes" data-toggle="tab"><i class="fa fa-star"></i>Shoes</a></li>
                            <li><a href="#Accessories" data-toggle="tab"><i class="fa fa-star"></i>Accessories</a></li>
                            <li><a href="#Clearance" data-toggle="tab"><i class="fa fa-star"></i>Toys</a></li>
                            </ul>
                        </div>
                        </div>
                        <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">
                            <ul class="featured-detail">
                                <li>
                                <div class="box"><strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/baby-girl-img-1.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                                <li>
                                <div class="box"> <strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/baby-girl-img-2.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                                <li>
                                <div class="box"> <strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/baby-girl-img-3.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                            </ul>
                            </div>
                            <div class="tab-pane" id="boy">
                            <ul class="featured-detail">
                                <li>
                                <div class="box"><strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/baby-boy-img-1.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                                <li>
                                <div class="box"> <strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/baby-boy-img-2.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                                <li>
                                <div class="box"> <strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/baby-boy-img-3.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                            </ul>
                            </div>
                            <div class="tab-pane" id="Newborn">
                            <ul class="featured-detail">
                                <li>
                                <div class="box"><strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/new-born-img-1.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                                <li>
                                <div class="box"> <strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/new-born-img-2.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                                <li>
                                <div class="box"> <strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/new-born-img-3.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                            </ul>
                            </div>
                            <div class="tab-pane" id="Shoes">
                            <ul class="featured-detail">
                                <li>
                                <div class="box"><strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/shoes-img-1.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                                <li>
                                <div class="box"> <strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/shoes-img-2.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                                <li>
                                <div class="box"> <strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/shoes-img-3.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                            </ul>
                            </div>
                            <div class="tab-pane" id="Accessories">
                            <ul class="featured-detail">
                                <li>
                                <div class="box"><strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/accessories-img-1.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                                <li>
                                <div class="box"> <strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/accessories-img-2.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                                <li>
                                <div class="box"> <strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/accessories-img-3.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                            </ul>
                            </div>
                            <div class="tab-pane" id="Clearance">
                            <ul class="featured-detail">
                                <li>
                                <div class="box"><strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/toys-img-1.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                                <li>
                                <div class="box"> <strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/toys-img-2.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                                <li>
                                <div class="box"> <strong class="title">Phasellus nec purus ipsum</strong>
                                    <div class="frame"> <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                                    <div class="twelve-point-star"><strong class="new">New</strong></div>
                                    <img src="images/toys-img-3.jpg" alt="img"> <a href="#" class="add-wishlist">Add to Wishlist</a> <a href="#" class="add-cart"><i class="fa fa-shopping-cart"></i>Add to Cart</a> </div>
                                    <strong class="price">Rs: <span class="small">153,00</span> I UN</strong> <a href="#" class="btn-buy">More</a>
                                    <div class="cart-bag"> <strong class="bag">my bag | not loggad </strong> <strong class="item">Item in checkout <span class="num">[ ]</span></strong> </div>
                                </div>
                                </li>
                            </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--Featured Product End--> 
    
    <!--List Of Services Start->
    <section class="list-services">
      <div class="container">
        <div class="row">
          <div class="list-services-inner fadeInLeft cp_load">
            <div class="list-cloud">
              <h2>List of <span class="breck">Services</span></h2>
            </div>
            
            <div class="search-widget" id="simplemodal-wrap" style="display:none">
              <form action="#" class="search-box">
                <span class="left">&nbsp;</span> <span class="right">&nbsp;</span> <span class="top">&nbsp;</span> <span class="bottom">&nbsp;</span>
                <div class="search-input-outer"> <i class="fa fa-search"></i>
                  <input name="" class="search-box-input" type="text" placeholder="What are you looking for?">
                  <input name="" type="submit" value="Search" class="btn-search-01">
                </div>
              </form>
            </div>
            
            <div class="timeline-outer">
              <div class="timeline">
                <div class="box-1">
                  <div class="round-frame"><i class="fa fa-file-text-o noboxshadow css-shake"></i></div>
                  <div class="small-round"></div>
                  <div class="text">
                    <h2>Baby sitter</h2>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...</p>
                  </div>
                </div>
                <div class="box-1">
                  <div class="text">
                    <h2>Baby sitter</h2>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...</p>
                  </div>
                  <div class="small-round"></div>
                  <div class="round-frame-2"><i class="fa fa-flask"></i></div>
                </div>
                <div class="box-1">
                  <div class="round-frame"><i class="fa fa-heart-o"></i></div>
                  <div class="small-round"></div>
                  <div class="text">
                    <h2>Baby sitter</h2>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...</p>
                  </div>
                </div>
                <div class="box-1">
                  <div class="text">
                    <h2>Baby sitter</h2>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...</p>
                  </div>
                  <div class="small-round"></div>
                  <div class="round-frame-2"><i class="fa fa-camera"></i></div>
                </div>
                <div class="box-1">
                  <div class="round-frame"><i class="fa fa-location-arrow"></i></div>
                  <div class="small-round"></div>
                  <div class="text">
                    <h2>Baby sitter</h2>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...</p>
                  </div>
                </div>
                <div class="box-1">
                  <div class="text">
                    <h2>Baby sitter</h2>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...</p>
                  </div>
                  <div class="small-round"></div>
                  <div class="round-frame-2"><i class="fa fa-star-o"></i></div>
                </div>
                <div class="box-1">
                  <div class="round-frame"><i class="fa fa-compass"></i></div>
                  <div class="small-round"></div>
                  <div class="text">
                    <h2>Baby sitter</h2>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--List Of Services Start--> 
    
    <!-- Latest Our Blog Start->
    <section class="latest-blog">
      <div class="latest-blog-top fadeInLeft cp_load">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="left-box">
                <div class="left-box-cloud">
                  <h2>Latest from <span class="breck">Our Blog</span></h2>
                </div>
                <div class="tab-content">
                  <div class="tab-pane active" id="home-1">
                    <div class="frame"> <img src="images/latest-blog-img-3.jpg" class="im" alt="img">
                      <div class="caption"><strong class="date">17th August</strong></div>
                    </div>
                    <div class="text-box">
                      <h3>Special Gifts</h3>
                      <h4>Phasellus nec purus ipsum</h4>
                      <strong>Lorem ipsum dolor sit amet, conste adipiscing elit.</strong>
                      <p>sit amet diam eget odio consequat alesuada placerat quis leo. Vivamus bibendum ultrices diam at rutrum.</p>
                      <p> posuere quam hendrerit imperdiet.Vivamus bibendum ultrices diam at rutrum. posuere quam hendrerit imperdiet.</p>
                      <a href="#" class="btn-read-more">Read More</a> </div>
                  </div>
                  <div class="tab-pane" id="tab-1">
                    <div class="frame"> <img src="images/latest-blog-img-2.jpg" alt="img">
                      <div class="caption"><strong class="date">18th August</strong></div>
                    </div>
                    <div class="text-box">
                      <h3>Special Gifts</h3>
                      <h4>Phasellus nec purus ipsum</h4>
                      <strong>Lorem ipsum dolor sit amet, conste adipiscing elit.</strong>
                      <p>sit amet diam eget odio consequat alesuada placerat quis leo. Vivamus bibendum ultrices diam at rutrum.</p>
                      <p> posuere quam hendrerit imperdiet.Vivamus bibendum ultrices diam at rutrum. posuere quam hendrerit imperdiet.</p>
                      <a href="#" class="btn-read-more">Read More</a> </div>
                  </div>
                  <div class="tab-pane" id="tab-2">
                    <div class="frame"> <img src="images/latest-blog-img-1.jpg" alt="img">
                      <div class="caption"><strong class="date">19th August</strong></div>
                    </div>
                    <div class="text-box">
                      <h3>Special Gifts</h3>
                      <h4>Phasellus nec purus ipsum</h4>
                      <strong>Lorem ipsum dolor sit amet, conste adipiscing elit.</strong>
                      <p>sit amet diam eget odio consequat alesuada placerat quis leo. Vivamus bibendum ultrices diam at rutrum.</p>
                      <p> posuere quam hendrerit imperdiet.Vivamus bibendum ultrices diam at rutrum. posuere quam hendrerit imperdiet.</p>
                      <a href="#" class="btn-read-more">Read More</a> </div>
                  </div>
                </div>
              </div>
              <div class="right-box">
                <h3>Blog Aechive</h3>
                <a href="#" class="btn-more">More</a> <strong class="title">Phasellus nec purus ipsum</strong>
                <ul class="nav nav-tabs aechive-tab" id="myTab2">
                  <li class="active"><a href="#home-1" data-toggle="tab">
                    <div class="box-1">
                      <div class="frame"> <img src="images/blog-archiv-img2.jpg" alt="img">
                        <div class="caption"><strong class="name">Crosso with expresso</strong></div>
                      </div>
                      <div class="date-box"> <strong class="date">15</strong> <strong class="mnt">sep</strong> </div>
                    </div>
                    </a></li>
                  <li><a href="#tab-1" data-toggle="tab">
                    <div class="box-1">
                      <div class="frame"> <img src="images/blog-archiv-img1.jpg" alt="img">
                        <div class="caption"><strong class="name">Crosso with expresso</strong></div>
                      </div>
                      <div class="date-box"> <strong class="date">15</strong> <strong class="mnt">sep</strong> </div>
                    </div>
                    </a></li>
                  <li><a href="#tab-2" data-toggle="tab">
                    <div class="box-1">
                      <div class="frame"> <img src="images/blog-archiv-img3.jpg" alt="img">
                        <div class="caption"><strong class="name">Crosso with expresso</strong></div>
                      </div>
                      <div class="date-box"> <strong class="date">15</strong> <strong class="mnt">sep</strong> </div>
                    </div>
                    </a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="search-product-box">
                <h3>Search <span class="pink">Products</span></h3>
                <div class="search-rang-box">
                  <p>
                    <input type="text" id="amount" />
                  </p>
                  <div id="slider-range"></div>
                </div>
                <a href="#" class="btn-search">Search</a> </div>
              <div class="social-box-outer">
                <div class="social-box">
                  <div class="inner">
                    <h3>Connect with us</h3>
                    <strong class="title">ON</strong>
                    <h4>Social networks</h4>
                    <ul>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="social-back-top"><a href="#top"><span class="small">Back to</span> TOP</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="latest-blog-bottom fadeInRight cp_load">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="home-map">
                <div id="map_canvas" style="width: 100%; height: 286px; text-align:center;"> </div>
                <div class="caption">
                  <h4>1600 Pacific Ave</h4>
                  <strong class="address">Venice, CA, United States</strong> </div>
              </div>
            </div>
            
            <div class="col-md-5">
              <div class="top-rate-box">
                <h3>Top Rates</h3>
                <strong class="title">Browse Collections</strong>
                <div class="top-rate-tab">
                  <ul class="nav nav-tabs tab-nav-03" id="myTab3">
                    <li class="active"><a href="#tab-01" data-toggle="tab">Autumn Kids</a></li>
                    <li><a href="#tab-02" data-toggle="tab">Girl in Hat</a></li>
                    <li><a href="#tab-03" data-toggle="tab">Kids Fashion Show</a></li>
                    <li><a href="#tab-04" data-toggle="tab">Boys shoes</a></li>
                    <li><a href="#tab-05" data-toggle="tab">Baby Toys</a></li>
                  </ul>
                  <div class="tab-content tab-content-03">
                    <div class="tab-pane active" id="tab-01">
                      <div class="content-box-01"> <img src="images/top-rate-banner-1.jpg" alt="img">
                        <div class="special-box"></div>
                        <div class="text">
                          <h4>VAN DOREN AUTHENTIC</h4>
                          <ul class="product-detail">
                            <li><strong class="color-info">(Parrot / Light Blue) </strong></li>
                            <li><strong class="size">Size: <span>UK9</span></strong></li>
                            <li><a href="#" class="change"> [Change]</a></li>
                          </ul>
                          <strong class="price">&pound;<span class="small">60.00</span></strong> <a href="#" class="add-basket">ADD TO BASKET</a> </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab-02">
                      <div class="content-box-01"> <img src="images/top-rate-banner-1.jpg" alt="img">
                        <div class="special-box"></div>
                        <div class="text">
                          <h4>VAN DOREN AUTHENTIC</h4>
                          <ul class="product-detail">
                            <li><strong class="color-info">(Parrot / Light Blue) </strong></li>
                            <li><strong class="size">Size: <span>UK9</span></strong></li>
                            <li><a href="#" class="change"> [Change]</a></li>
                          </ul>
                          <strong class="price">&pound;<span class="small">70.00</span></strong> <a href="#" class="add-basket">ADD TO BASKET</a> </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab-03">
                      <div class="content-box-01"> <img src="images/top-rate-banner-1.jpg" alt="img">
                        <div class="special-box"></div>
                        <div class="text">
                          <h4>VAN DOREN AUTHENTIC</h4>
                          <ul class="product-detail">
                            <li><strong class="color-info">(Parrot / Light Blue) </strong></li>
                            <li><strong class="size">Size: <span>UK9</span></strong></li>
                            <li><a href="#" class="change"> [Change]</a></li>
                          </ul>
                          <strong class="price">&pound;<span class="small">80.00</span></strong> <a href="#" class="add-basket">ADD TO BASKET</a> </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab-04">
                      <div class="content-box-01"> <img src="images/top-rate-banner-1.jpg" alt="img">
                        <div class="special-box"></div>
                        <div class="text">
                          <h4>VAN DOREN AUTHENTIC</h4>
                          <ul class="product-detail">
                            <li><strong class="color-info">(Parrot / Light Blue) </strong></li>
                            <li><strong class="size">Size: <span>UK9</span></strong></li>
                            <li><a href="#" class="change"> [Change]</a></li>
                          </ul>
                          <strong class="price">&pound;<span class="small">90.00</span></strong> <a href="#" class="add-basket">ADD TO BASKET</a> </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab-05">
                      <div class="content-box-01"> <img src="images/top-rate-banner-1.jpg" alt="img">
                        <div class="special-box"></div>
                        <div class="text">
                          <h4>VAN DOREN AUTHENTIC</h4>
                          <ul class="product-detail">
                            <li><strong class="color-info">(Parrot / Light Blue) </strong></li>
                            <li><strong class="size">Size: <span>UK9</span></strong></li>
                            <li><a href="#" class="change"> [Change]</a></li>
                          </ul>
                          <strong class="price">&pound;<span class="small">60.00</span></strong> <a href="#" class="add-basket">ADD TO BASKET</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="sale-item-banner"> <img src="images/sale-items-banner-1.png" alt="img">
                <div class="caption"><strong class="title">Offer of the Week</strong></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Our Blog End--> 
    
    <!--Order Now Banner Start->
    <section class="order-now-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="order-left-banner fadeInLeft cp_load"> <img src="images/small-banner.jpg" alt="img">
              <div class="caption">
                <h3><span class="pink">Babies</span> Clothes</h3>
                <p>Select from Our range of Baby Girls Clothes.</p>
                <a href="#" class="shop-now">Shop Now!</a> </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="order-right-banner fadeInRight cp_load"><img src="images/order-banner-2.png" alt="img"></div>
          </div>
        </div>
      </div>
    </section>
    <!--Order Now Banner End--> 
    
    <!--Popular Product Start->
    <section class="popular-product">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="popular-product-top">
              <h4>Popular <span class="Pink">Products</span></h4>
              <strong class="title">Check out our <span class="Pink">latest</span> range of <span class="Pink">winter</span> clothes</strong>
              <div class="product-box fadeInLeft cp_load">
                <div class="col-md-4">
                  <div class="product-inner-box">
                    <div class="frame">
                      <div class="thumb"><a href="#"><img src="images/popular-product-img-1.jpg" alt="img"></a></div>
                      <div class="foot-icon"></div>
                    </div>
                    <div class="caption">
                      <div class="left">
                        <h5> Pink baby dress</h5>
                        <strong class="less">$649.oo</strong> <strong class="price">$549.oo</strong> </div>
                      <div class="right">
                        <div class="review-star"><img src="images/star-icon.png" alt="img"></div>
                        <a href="#" class="shop-btn">Shop Now!</a> </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product-inner-box">
                    <div class="frame">
                      <div class="thumb"><a href="#"><img src="images/popular-product-img-2.jpg" alt="img"></a></div>
                      <div class="foot-icon"></div>
                    </div>
                    <div class="caption">
                      <div class="left">
                        <h5> Pink baby dress</h5>
                        <strong class="less">$649.oo</strong> <strong class="price">$549.oo</strong> </div>
                      <div class="right">
                        <div class="review-star"><img src="images/star-icon.png" alt="img"></div>
                        <a href="#" class="shop-btn">Shop Now!</a> </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product-inner-box">
                    <div class="frame">
                      <div class="thumb"><a href="#"><img src="images/popular-product-img-3.jpg" alt="img"></a></div>
                      <div class="foot-icon"></div>
                    </div>
                    <div class="caption">
                      <div class="left">
                        <h5> Pink baby dress</h5>
                        <strong class="less">$649.oo</strong> <strong class="price">$549.oo</strong> </div>
                      <div class="right">
                        <div class="review-star"><img src="images/star-icon.png" alt="img"></div>
                        <a href="#" class="shop-btn">Shop Now!</a> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="popular-product-bottom">
              <div class="col-md-4">
                <div class="left-banner fadeInLeft cp_load"><img src="images/free-shipping-banner.jpg" alt="img"></div>
              </div>
              <div class="col-md-8">
                <div class="right-banner fadeInRight cp_load"><img src="images/latest-banner-img.jpg" alt="img"></div>
              </div>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="latest-collection fadeInRight cp_load">
              <div class="latest-collection-inner">
                <h4>Latest Collection</h4>
                <p>Lorem ipsum dolor sit amet,<br>
                  consectetur adipiscing elit.</p>
                <a href="#" class="btn-view">View More</a>
                <div class="collection-banner-area">
                  <div class="caption"></div>
                  <ul class="bxslider">
                    <li><img src="images/latest-collection-img-1.jpg" alt="img"></li>
                    <li><img src="images/latest-collection-img-2.jpg" alt="img"></li>
                    <li><img src="images/latest-collection-img-3.jpg" alt="img"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!--Popular Product End--> 
    
    <!--Brands Section Start->
    <section class="brands-section">
      <div class="container">
        <div class="row">
          <div class="brands-cloud">
            <h3>Brands <span class="pink">We Sell</span></h3>
            <div class="register-tag"></div>
          </div>
          <div id="brands-scroll">
            <div id="content-1" class="content">
              <div class="brand-scroll-box">
                <ul>
                  <li><a href="#"><img src="images/brand-img-1.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-2.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-3.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-4.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-5.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-6.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-7.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-1.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-2.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-3.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-4.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-5.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-6.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-7.png" alt="img"></a></li>
                  <li><a href="#"><img src="images/brand-img-1.png" alt="img"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Brands Section End--> 
    
    <!--Latest Tweets Start->
    <section class="latest-tweet">
      <div class="container">
        <div class="row">
          <div class="tweets-box fadeIn cp_load">
            <div class="holder">
              <ul class="bxslider tweet-bxslider">
                <li>
                  <div class="pic">tweets</div>
                  <div class="text">
                    <h3>Latest Tweets</h3>
                    <a href="#" class="tweet">@ Abd-Alrahaman Elgazzar <span class="sky">Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here</span> http://t.co/zfdgfdg </a> </div>
                </li>
                <li>
                  <div class="pic">tweets</div>
                  <div class="text">
                    <h3>Latest Tweets</h3>
                    <a href="#" class="tweet">@ Abd-Alrahaman Elgazzar <span class="sky">Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here</span> http://t.co/zfdgfdg </a> </div>
                </li>
                <li>
                  <div class="pic">tweets</div>
                  <div class="text">
                    <h3>Latest Tweets</h3>
                    <a href="#" class="tweet">@ Abd-Alrahaman Elgazzar <span class="sky">Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here</span> http://t.co/zfdgfdg </a> </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Latest Tweets End--> 
    
</div>

    <!-- DELETE-THIS -->
    <% script('js/sideshow-0.3.3/distr/dependencies/jazz-0.1.1.min.js') %>
    <% script('js/sideshow-0.3.3/distr/dependencies/pagedown-1.1.0.min.js') %>
    <% script('js/sideshow-0.3.3/distr/sideshow-0.3.3.debug.js') %>
    <% script('js/sideshow-0.3.3/sideshow.config.js') %>
    <% script('js/sideshow-0.3.3/sideshow_steps_home.js') %>