<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Milena Marques - Fotografia</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Faça fotos do seu bebê, gravidez e aniversário. Fotografia Infantil em Fortaleza. Book Gestante, Book Infantil." />
<meta name="keywords" content="milena marques,foto,fotografia,infantil,book,álbum" />
<meta name="author" content="Danilo Jr." />

    <!-- DELETE-THIS -->
    <!--Slideshow Css-->
    <link href="js/sideshow-0.3.3/distr/stylesheets/slideshow.css" rel="stylesheet" type="text/css" />

<!--Custom Css-->
<link href="css/custom.css" rel="stylesheet" type="text/css" />
<!--Boxed Css-->
<link href="css/boxed.css" rel="stylesheet" type="text/css" />
<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<!--Bootstrap Css-->
<link href="css/bootstrap.css" rel="stylesheet" />
<!--Fonts Awsome Css-->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<!--Color-1 Css-->
<link rel="stylesheet" href="css/color-1.css" />
<!--Slider Range Css-->
<link rel="stylesheet" href="css/slider-range.css" />
<!--Bx Slider Css-->
<link href="css/jquery.bxslider.css" rel="stylesheet" />
<!-- Custom scrollbars CSS -->
<link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" />
<!-- Light Box CSS -->
<link rel="stylesheet" type="text/css" href="css/light-box.css" />
<!--Facny Box Css-->
<link type='text/css' href='css/basic.css' rel='stylesheet' media='screen' />
<!--Animated Css-->
<link type='text/css' href='css/cp_load.css' rel='stylesheet' media='screen' />
<!--Easy Slider Responsive Css-->
<link rel='stylesheet' id='et_responsive-css'  href='css/easy-responsive.css' type='text/css' media='all' />
<%-stylesheets%>
<!--Fevicon-->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- image preloader -->
<div id="cp-image-preloader"></div>
<!-- image preloader --> 

<!-- Universal preloader -->
<div id="cp-preloader">
    <div class="preloader"> 
        <img src="images/ajax.png" alt="cp-preloader" class="cp-preloader-preloader"/> <span id="percentage">0 %</span> 
    </div>
</div>
<!-- Universal preloader --> 

<!--Wrapper Start-->
<div id="wrapper" class="boxed"> 
    <!--Header Start-->
    <header id="header"> 
        <!--Head Top Start-->
        <section id="head-top">
            <div class="container">
                <div class="row">
                    <div class="pull-left"><strong class="time">11:45 pm, 27 July, 2012.</strong></div>
                    <!--
                    <div class="pull-right top-right">
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li class="wishlist"><a href="#">My Wishlist</a></li>
                        <li class="checkout"><a href="#">Checkout</a></li>
                        <li class="login"><a href="#">Log In</a></li>
                        <li class="search"><a class="basic" href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                    </div>
                    -->
                </div>
            </div>
        </section>
        <!--Head Top End--> 

        <!--Logo Section Start-->
        <section class="logo-section">
            <div class="container">
                <div class="row">
                    <div class="ribbon-box"><a href="index.html" class="logo">Milena Marques - Fotografia</a></div>
                </div>
            </div>
        </section>
        <!--Logo Section End--> 
    
        <!--Navigarion Start-->
        <div class="nav-bar">
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        </div>
                        <div class="navbar-collapse collapse padding-none">
                            <ul id="nav" class="nav navbar-nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/servicos">Serviços</a></li>
                                <li><a href="/contato">Contato</a></li>
                                <li><a href="#"><span class="empty"></span></a></li>
                                <li><a href="#" id="runTutorial">Apresentação Novo Layout</a></li>
                                <!--
                                <li><a href="about.html">About Us</a>
                                    <ul>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="faq.html">Faq's</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Showcase</a>
                                    <ul>
                                        <li><a href="categories.html">Categories</a></li>
                                        <li><a href="product.html">Product</a></li>
                                        <li><a href="product-detail.html">Product Detail</a></li>
                                        <li><a href="product-listing.html">Product Listing</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="outlet-location.html">Outlet Location</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><span class="empty"></span></a></li>
                                <li><a href="blog.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-detail.html">Blog Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="gallery-two-column.html">Gallery Two Column</a></li>
                                        <li><a href="gallery-three-column.html">Gallery Three Column</a></li>
                                        <li><a href="gallery-four-column.html">Gallery Four Column</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="password-protected.html">Password Protected</a></li>
                                        <li><a href="404.html">404</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact Us</a></li>
                                -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Navigarion End--> 
    </header>
    <!--Header End--> 

    <!-- nas páginas q extendem esta layout, tem q ter um <div class='main'> como container principal -->
    <%- body %>
  
    <!--Footer Start-->
    <footer id="footer">
        <div id="trabalhos-recentes" class="holder">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="left-side-bottom fadeInDownBig cp_load" style="margin-top: 45px">
                            <h5>Trabalhos Recentes</h5>
                            <ul class="lb-album">
                                <li>
                                    <div class="frame-box">
                                        <div class="thumb"> <a href="#image-1"><img src="images/recent-post-img-1.jpg" alt="img"></a>
                                            <div class="caption">
                                                <h5>Book do Bruno</h5>
                                            </div>
                                            <div class="lb-overlay" id="image-1"> 
                                                <a href="#page" class="lb-close">x Close</a> 
                                                <img src="images/recent-post-img-1-big.jpg" alt="img"> 
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="frame-box">
                                        <div class="thumb"> <a href="#image-1"><img src="images/recent-post-img-2.jpg" alt="img"></a>
                                            <div class="caption">
                                                <h5>Niver da Lara</h5>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="frame-box">
                                        <div class="thumb"> <a href="#image-1"><img src="images/recent-post-img-3.jpg" alt="img"></a>
                                            <div class="caption">
                                                <h5>Book do João</h5>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="frame-box">
                                        <div class="thumb"> <a href="#image-1"><img src="images/recent-post-img-2.jpg" alt="img"></a>
                                            <div class="caption">
                                                <h5>Niver da Lara</h5>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="frame-box">
                                        <div class="thumb"> <a href="#image-1"><img src="images/recent-post-img-3.jpg" alt="img"></a>
                                            <div class="caption">
                                                <h5>Book do João</h5>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                
                    <!--
                    <div class="col-md-6">
                        <div class="left-side-top fadeInLeft cp_load">
                            <div class="left-box-1">
                                <h4>Serviços e Produtos</h4>
                                <ul>
                                    <li><a href="#">Books</a></li>
                                    <li><a href="#">Eventos</a></li>
                                    <li><a href="#">Álbuns</a></li>
                                </ul>
                            </div>
                            <div class="left-box-1 pull-right">
                                <h4>Brands</h4>
                                <ul>
                                    <li class="active"><a href="#">Bags and Wallets</a></li>
                                    <li><a href="#">Jewellery</a></li>
                                    <li><a href="#">Shoes and Dresses</a></li>
                                    <li><a href="#">Holiday Shop</a></li>
                                    <li><a href="#">Accessories</a></li>
                                    <li><a href="#">Trends and Brands</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="left-side-bottom fadeInDownBig cp_load">
                            <h5>Trabalhos Recentes</h5>
                            <ul class="lb-album">
                            <li>
                                <div class="frame-box">
                                <div class="thumb"> <a href="#image-1"><img src="images/recent-post-img-1.jpg" alt="img"></a>
                                    <div class="caption">
                                    <h5>Book do Bruno</h5>
                                    </div>
                                    <div class="lb-overlay" id="image-1"> <a href="#page" class="lb-close">x Close</a> <img src="images/recent-post-img-1-big.jpg" alt="img"> </div>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="frame-box">
                                <div class="thumb"> <a href="#image-1"><img src="images/recent-post-img-2.jpg" alt="img"></a>
                                    <div class="caption">
                                    <h5>Niver da Lara</h5>
                                    </div>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="frame-box">
                                <div class="thumb"> <a href="#image-1"><img src="images/recent-post-img-3.jpg" alt="img"></a>
                                    <div class="caption">
                                    <h5>Book do João</h5>
                                    </div>
                                </div>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-area fadeInRight cp_load">
                            <div class="form-area-inner">
                            <div class="left">
                                <h4>Contato</h4>
                                <strong class="title">Entre com seus dados abaixo e<br />entraremos em contato.</strong>
                                <form class="form-signin">
                                <label>Nome</label>
                                <input type="text" class="form-control" placeholder="Nome" required>
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Email" required>
                                    <!--
                                <label class="checkbox">
                                    <input type="checkbox" value="remember-me">
                                    <span>Remember password</span> 
                                </label>->
                                <button class="btn btn-login" type="submit">Contatar</button>
                                </form>
                            </div>
                            <div class="right">
                                <h4>Login by another ways</h4>
                                <strong class="title">Integer ornare libero nisi.<br>
                                Duis ac magna urna. </strong>
                                <ul class="social-link">
                                <li class="fb"><a href="#"><strong>Login with facebook</strong><span><i class="fa fa-facebook"></i></span></a></li>
                                <li class="tw"><a href="#"><strong>Login with twitter</strong><span><i class="fa fa-twitter"></i></span></a></li>
                                <li class="gp"><a href="#"><strong>Login with google</strong><span><i class="fa fa-google-plus"></i></span></a></li>
                                </ul>
                                <div class="credit-card"><img src="images/credit-card-img.png" alt="img"></div>
                            </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    
        <!--Lower Footer Start>-->
        <div class="lower-footer">
            <div class="toy-box"></div>
            <div class="container">
            <div class="row">
                <div class="inner">
                <h5>Contate-nos</h5>
                <div class="aero-plane-section"> <strong class="location"><i class="fa fa-location-arrow"></i>Av. Tal. Bairro Tal. Fortaleza - CE. Brasil </strong> <strong class="phone"><i class="fa fa-phone"></i>T : 85 8888-9999</strong> <a href="#" class="email"><i class="fa fa-envelope"></i>milenamarques@fotografia.com.br</a> </div>
                <div class="copyrights"><strong class="copy">&copy; <span class="anoAtual"></span>. Direitos reservados.<br>
                    Designed by: <a href="#" class="link">Danilo Jr.</a></strong> </div>
                <p id="back-top"> <a href="#top"><span></span></a> </p>
                </div>
            </div>
            </div>
        </div>
        <!--Lower Footer End--> 
    </footer>
    <!--Footer End--> 
</div>
<!--Wrapper End--> 

<!--Jquery Library--> 
<script type="text/javascript" src="js/jquery.js" ></script><!--Jquery Library--> 
<!--Bootstrap Js--> 
<script src="js/bootstrap.min.js"></script><!--Bootstrap Js--> 
<!--Slider Range Js--> 
<script type="text/javascript" src="js/widget.js" ></script><!--Slider Range Js--> 
<!--Slider Range Js--> 
<script type="text/javascript" src="js/mouse.js" ></script><!--Slider Range Js--> 
<!--Slider Range Js--> 
<script type="text/javascript" src="js/slider.js" ></script><!--Slider Range Js--> 
<!--Bx Slider Js--> 
<script type="text/javascript" src="js/jquery.bxslider.min.js" ></script><!--Bx Slider Js--> 
<!--Scrollbar Js--> 
<script src="js/jquery.mCustomScrollbar.js"></script><!--Scrollbar Js--> 
<!--Google Map Js--> 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script><!--Google Map Js--> 
<!--Respond Js--> 
<script type="text/javascript" src="js/respond.js" ></script><!--Respond Js--> 
<!--Fade out Fade in Slider Js--> 
<script type="text/javascript" src="js/cycle-slider.js"></script><!--Fade out Fade in Slider Js--> 
<!--Facny Box Js--> 
<script type='text/javascript' src='js/jquery.simplemodal.js'></script> 
<script type='text/javascript' src='js/basic.js'></script><!--Facny Box Js--> 
<!--Custom Js--> 
<script type="text/javascript" src="js/custom.js" ></script><!--Custom Js--> 
<!--Easy Slider Js--> 
<script type='text/javascript' src='js/easy-slider.min.js'></script><!--Easy Slider Js--> 
<script type='text/javascript' src='js/easy-slider.js'></script><!--Easy Slider Js--> 
<!--Aminated And Loader Js--> 
<script type='text/javascript' src='js/underscore-min.js'></script><!--UnderScore Js--> 
<script type='text/javascript' src='js/cp_load.js'></script><!--CP Loader Js-->

<%-scripts%>

    <!-- DELETE-THIS -->
    <!--Scripts required for Sideshow to work properly-->
	<script src="js/sideshow-0.3.3/distr/dependencies/jazz-0.1.1.min.js"></script>
	<script src="js/sideshow-0.3.3/distr/dependencies/pagedown-1.1.0.min.js"></script>
	<script src="js/sideshow-0.3.3/distr/sideshow-0.3.3.debug.js"></script>
    <!--Scripts for this page-->
	<script src="js/sideshow-0.3.3/slideshow.config.js"></script>
	<script src="js/sideshow-0.3.3/slideshow_steps.js"></script>
	<script>
     $("#runTutorial").click(function (e) {
         Sideshow.start({ listAll: true });
     });
	</script>

</body>
</html>